
.input-div{
    padding: 30px 50px 15px 50px;
}
.label-wrap{
    word-break: break-word; 
    max-width: 100%;
    white-space: normal;
}
.list-div{
    padding: 30px 50px 0px 50px;
}
.del-user-div{
    padding: 30px 50px 15px 50px;
    text-align: center;
    font-size: 1.9rem;
    font-weight: bold;
}
.list-group{
    background-color: #EEEEEE;
}

.user-login-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}